<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Voce esta no menu adicionar</h1>
  <form method="POST">
    <p>Nome: <input type="text" id="nome" name="nome"></p>
    <p>Telefone: <input type="text" id="numero" name="numero"></p>
    <input value="logar" type="submit"><br>
    <h1>aqui: {{ info }}</h1>
  </form>
</body>
</html>