<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
  <h1>Escolha a sua opcao</h1>
  <form action="/buda">
     <button type="submit" id="adc">Adicionar</button>
   </form>
   <form action="/remover">
     <button type="submit" id="rev">Remover</button>
   </form>
   <form action="mostrar">
      <button type="submit" id="mos" >Mostrar</button>
   </form>
   <form action="/alterar">
     <button type="submit"  id="alt">Alterar</button>
   </form>

   
    
    
 
</body>
</html>