<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AgendECA</title>
  <link rel="stylesheet" type="text/css" href="./static/style.css">
</head>
<body>
  <h1 class="">Bem vindo a AgendECA</h1>
  <a href="http://127.0.0.1:5000/buda">clique aqui</a>
  <a href="/buda">clique aqui tbm</a>
  
  <form method="POST">
  <p>nome: <input type="text" id="nome" name="nome"></p>
  <p>senha: <input type="password" id="senha" name="senha"></p>
  <input type="submit" id="logar" value="Logar">
  </form>
  
</body> 
</html>