body{
    background-color: #808073;
    
}

div {
    text-align: center;
    border-style: dashed;
    background-color:  rgb(80,100,180);
    border-width: 10px;
    height: auto;
    width: 400px;
    padding: 20px;
    border-radius: 70px;
    position: relative;
    bottom: 180px;
    left: 500px;
    font-size: 16px;
    
}